h1{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgb(201, 28, 221);
    color: blue;
    background-color: rgb(252, 252, 78);
    padding: 0%;
    border: 0rem;
    margin: 5px;
    text-shadow: 5px 4px 5px rgb(232, 49, 49) ;
}
h2{
    text-align: center;
    text-decoration: underline;
    padding: 0%;
    margin: 0%;
    text-decoration-color: rgb(255, 0, 195);
    color: rgb(29, 142, 59);
    text-shadow:6px 5px 4px rgb(255, 129, 39)

}
P{
    padding-left:9px ;
    padding-right: 9px;
}
#img{
    width: 400px;
}
#click{
   background-color: red;
   font-size: larger;
}
#nav{
    background-color: rgb(207, 205, 203);
}